* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#pp {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.7)
    ),
    url(./img/acleda3.JPEG);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.AC {
  width: 100%;
  position: absolute;
  top: 50%;
  color: white;
  text-align: center;
  transform: translateY(-50%);
  text-shadow: 0px 0px 10px;
}
.logo {
  position: absolute;
  top: 2rem;
}
.service-box {
  width: 100%;
  padding: 60px 30px;
  text-align: center;
  transition: 5s;
  border-radius: 5px;
  box-shadow: 20px 20px 20px 20px rgba(1, 41, 112, 0.08);
}
.line-mf {
  color: midnightblue;
}
.line {
  background-color: gray;
  width: 20px;
  height: 2px;
}
.main-line {
  height: 4px;
}
.foots {
  background-color: #15243e;
  width: 100%;
}
.foot {
  color: white;
  font-family: sans-serif;
}
.foot h3 {
  font-weight: bold;
}

#footter {
  text-align: center;
}
.icon {
  font-size: 25px;
}
